.single_footer_title {
    @media (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.single_footer_title h4 {
    color: #fff;
}
.single_footer_title img {
    width: 57%;
}
.single_footer_body ul {
    list-style: none;
}
.single_footer_body ul li {
    display: block;
    padding-bottom: 15px;
    transition: 0.5s;
}
.single_footer_body ul li a {
    color: #fff;
    transition: 0.5s;
}
.single_footer_text p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer_icon a {
    display: inline-block;
    background: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #5fe60e;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.5s;
}
.single_footer_recent_thumb {
    float: left;
    margin-right: 2px;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}
.single_footer_recent_thumb img {
    width: 82%;
    border-radius: 5px;
}
.single_footer_recent_content a {
    color: #fff;
    transition: 0.5s;
}
.single_footer_recent_content span {
    display: block;
    color: #fff;
    font-size: 13px;
    margin-top: 5px;
}
.single_footer_address ul li {
    display: block;
    color: #fff;
}
.single_footer_address ul li span {
    font-weight: 600;
}
.single_footer_address ul li {
    display: block;
    color: #fff;
    margin: 12px 0;
}
.single_footer_recent_content a:hover {
    color: #5fe60e;
}
.footer_icon a:hover {
    background: #5fe60e;
    color: #fff;
}
.single_footer_body ul li:hover {
    margin-left: 10px;
}
.single_footer_body ul li a:hover {
    color: #5fe60e;
}
.team-details-thumb img {
    width: 100%;
}
