.section-title {
    text-align: left;
}

.section_title_content {
    h5 {
        @media (max-width: 991px) {
            margin-top: 20px;
        }
    }
}

.single_about_thumb img {
    width: 100%;

    @media (max-width: 991px) {
        margin-top: 30px;
    }
}

.single-about {
    margin-bottom: 0;
    line-height: 0;
    padding-bottom: 0;
}

.single_about_icon {
    float: left;
}

.single_about_icon .icon {
    color: #5fe60e;
    font-size: 25px;
    margin-right: 10px;
}

.single_about_text {
    color: #fff;
    margin-bottom: -10px;
}
