.black-heading {
    color: #000 !important;
}

.grey-text {
    color: #616161 !important;
}

.single_contact_now {
    text-align: center;
    background: #fff;
    padding: 30px 30px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.single_contact_now_inner {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.5s;
}
.single_contact_now:hover .single_contact_now_inner {
    border: 1px solid #5fe60e;
}

.single_contact_now_icon {
    padding-top: 24px;
}
.single_contact_now_icon span {
    display: inline-block;
    font-size: 40px;
    color: #5fe60e;
    margin-bottom: 5px;
}
.single_contact_now_content {
    padding-bottom: 15px;
}
.single_contact_now_content h2 {
    font-size: 22px;
}
.single_contact_now_content p {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
}
.contact_now_area .section_title_inner h2 {
    color: #fff;
}
.contact_now_area .section_title_text p {
    color: #fff;
}

.fWLyvV {
    z-index: 11111;
}

.contact-form-main input {
    width: 100%;
    margin-bottom: 18px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid #5fe60e;
    border-radius: 5px;
}
.contact-form-main textarea {
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    height: 218px;
    border: 1px solid #5fe60e;
    border-radius: 5px;
}
.contact-form-main button {
    background: #5fe60e;
    border: 2px solid #5fe60e;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: inherit;
    margin-top: 10px;
    cursor: pointer;
}
.home3 .contact-form-main input {
    background: transparent;
    color: #fff;
}
.home3 .contact-form-main textarea {
    background: transparent;
    color: #fff;
}
.contact-form-main input:focus,
.contact-form-main textarea:focus {
    border: 1px solid #5fe60e;
}
.form-group .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.home3 .form-group .form-control {
    background-color: transparent;
    color: #fff;
}
.home3 .form-group textarea {
    background-color: transparent;
    color: #fff;
}
.form-group textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    height: 210px;
    padding-top: 20px;
    padding-left: 12px;
    border-radius: 0.25rem;
}
.contact_form .form-group input:focus,
.contact_form .form-group textarea:focus {
    border: 1px solid #5fe60e;
    background: transparent;
}
.contact_button button {
    background: #5fe60e;
    border: 2px solid #5fe60e;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: inherit;
    margin-top: 10px;
    cursor: pointer;
}
.contact_button button:hover {
    background: transparent;
    border-color: #5fe60e;
    color: #5fe60e;
}
.map {
    width: 100%;
    margin: 0;
    height: 410px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
