.slider_area {
    background-image: url("../../images/slider-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 900px;
    position: relative;
    margin-top: -70px;

    .slider_text_inner {
        text-align: center;
        margin-top: 300px;
        @media (max-width: 767px) {
            margin-top: 150px;
        }
    }
    .slider_text_inner h1 {
        margin: 0;
        font-size: 50px;
        color: #fff;

        @media (max-width: 767px) {
            padding-top: 50px;
        }

        @media (max-width: 575px) {
            padding-top: 0px;
            font-size: 40px;
        }
    }
    .slider_text_inner span {
        color: var(--color-primary);
    }
    .slider_text_inner h2 {
        color: #fff;
        font-size: 40px;

        @media (max-width: 575px) {
            font-size: 30px;
        }
    }
    .slider_text_inner ul {
        margin-top: 15px;
    }
    .slider_text_inner ul li {
        display: inline;
        font-size: 19px;
        color: #fff;
        margin: 0 7px;
    }
    .Slider_button {
        text-align: center;
    }

    .slider_thumb {
        position: relative;
    }

    .slider_thumb_inner {
        position: absolute;
        top: -280px;
        width: 100%;
        text-align: center;

        @media (max-width: 767px) {
            margin-top: 50px;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
        }

        img {
            @media (max-width: 767px) {
                width: 50%;
            }
        }
    }
}
