.section-title {
    text-align: left;
}

.single_about_thumb img {
    width: 100%;
}

.single-about {
    margin-bottom: 0;
    line-height: 0;
    padding-bottom: 0;
}

.single_about_icon {
    float: left;
}

.single_about_icon .icon {
    color: #5fe60e;
    font-size: 25px;
    margin-right: 10px;
}

.single_about_text {
    color: #fff;
    margin-bottom: -10px;
}
